<title>Senior Design</title>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="/public/css/bootstrap.css"/>
<link rel="stylesheet" href="/public/css/main.css"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/public/js/bootstrap.bundle.js"></script>

<style>
    /* Modify the background color */
     
    .navbar-custom {
        background-color: orange;
    }
    /* Modify brand and text color */
     
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: black;
    }
</style>