<!DOCTYPE html>
<html>
  <head>
    <title>HBCUmatch - About Us</title>
    <link rel="stylesheet" href="../public/css/aboutus.css">
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/header'); %>
    <h1>CCIS 493 Senior Design Project Spring 2023</h1>
    <h2>Submitted to: Prof. Sazegar Ali</h2>
    <h3> Authors </h3>
      <h5><span>HBCUmatch</span> was created by 3 pioneers: Austin Euler, Kristian Gambrell, and Aikya Stevenson</h5>
      <p> On this site you will be asked a series of questions to determine which school best suites you!
        That way when you are ready to select the college you want to go to, you have a few GREAT schools to
        to choose from.
      </p>
      <h2 style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="../public/images/austin.PNG" alt="Austin Euler" style="width:100%">
            <div class="container">
              <h2>Austin Euler</h2>
              <p class="title">CEO & Founder</p>
              <p>Backbone of the project. Went through long stormy nights coding the 
                connections between pages on the demo. Major asset to the group because 
                without his work ethic and determination this webpage would not exist.</p>
              <p>austin.euler@students.cau.edu</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
          
            <img src="../public/images/kristian.PNG" alt="Kris" style="width:100%">

            <div class="container">
              <h2>Kristian Gambrell</h2>
              <p class="title">Webpage Designer & Editor</p>
              <p>Discovered new yet beginner ways to design and implement their webpage neatly and clearly.
                 Also maintained up-to-date changes to their webpage as well as included visual suggestions from her team. </p>
              <p>kristian.gambrell@students.cau.edu</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">

            <img src="../public/images/aikya.PNG" alt="Aikya" style="width:100%">
            
            <div class="container">
              <h2>Aikya Stevenson</h2>
              <p class="title">Backend/Database Coordinator</p>
              <p>This gem took the major load of the webpage and designed the database sector 
                where information on the webpage will be stored on the server. This includes 
                user interface, responses from the survey and many more! She is our drawbridge 
                to the entire webpage.</p>
              <p>aikya.stevenson@students.cau.edu</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
  </body>
  
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</html>