<!DOCTYPE html>
<html>
  <head>
    <title>HBCUmatch - About Us</title>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/header'); %>
    <h4>CCIS 493 Senior Design Project</h4>
    <h4>Spring 2023</h4>
    <h4>Submitted to: Prof. Sazegar Ali</h4>
    <h4> Authors </h4>
      <p>HBCUmatch was created by 3 pioneers: Austin Euler, Kristian Gambrell, and Aikya Stevenson</p>
  </body>
  
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</html>