<!DOCTYPE html>
<html>
  <head>
    <title>HBCUmatch - Home </title>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/header'); %>
    <h1> We're getting 1st Place </h1>
    
    
    <img src="../public/images/austin.PNG">
    <img src="../public/images/aikya.PNG">
    <img src="../public/images/kristian.PNG">
    


  </body>
  
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</html>