<!DOCTYPE html>

<head>
 <title>Question 1</title>
 <script> src= "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" </script>
 <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/header', {username:username}); %>
  <div class="container mt-sm-5 my-1">
    <form action = "/survey/started" method= "post">
    <div class="question ml-sm-5 pl-sm-5 pt-2">
        <div class="py-2 h5"><b>Q1. What size student population do you prefer?</b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
            <label class="options">Small - Less than 5k
                <input type="radio" name="radio1" value="Small" required>
                <span class="checkmark"></span>
            </label>
            <label class="options">Medium - Between 5k and 15k
                <input type="radio" name="radio2" value="Medium">
                <span class="checkmark"></span>
            </label>
            <label class="options">Large - More than 15K
                <input type="radio" name="radio3" value="Large">
                <span class="checkmark"></span>
            </label>
            <label class="options">Does Not Matter 
                <input type="radio" name="radio4" value="Does Not Matter">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div class="d-flex align-items-center pt-3">
        <input type="hidden" value="P2" id="pgCounter">
        <div id="prev">
            <button class="btn btn-previous" type="submit" data-btn="P0">Previous</button>
        </div>
        <div class="ml-auto mr-sm-5">
            <button class="btn btn-success" type="submit" >Next</button>
        </div>
    </div>
  </form>
  </div>
</body>
<footer>
  <%- include('../partials/footer'); %>
</footer>