<!DOCTYPE html>
<html>
  <head>
    <title>Registration Page</title>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/header'); %>
    <h1> Under Construction </h1>

  </body>
  
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</html>
