<!DOCTYPE html>
<html>
  <head>
    <title>HBCUmatch - Registration </title>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/header'); %>
    <h2> Registration - Under Construction </h2>

  </body>
  
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</html>
