<!DOCTYPE html>
<html>
  <head>
    <title>HBCUmatch - Registration </title>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/header'); %>
      <div class="container col-5">
        <form action="/auth/register" method="post">
            <div class="form-group">
            <label for="nameInput">Name</label>
            <input type="name" id="name" name="name" class="form-control"  aria-describedby="nameHelp" placeholder="Enter your name" required>
            </div>
            <div class="form-group">
              <label for="nameInput">Sex</label>
              <input type="sex" id="sex" name="sex" class="form-control"  aria-describedby="nameHelp" placeholder="Enter your sex" required>
              </div>

            <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" id="username" name="username" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email" required>
            <small id="emailHelp" class="form-text text-muted">Hurry up and finish this!</small>
            </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" id="passwd" name="passwd" class="form-control"  placeholder="Password" required>
            </div>
              <button id="login" type="submit" class="btn btn-primary">Register</button>          </form>
            </div>
      <script>
    
      </script>

  </body>
  
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</html>
