<!DOCTYPE html>
<html>
  <head>
    <title>Profile Page</title>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/header', {username:username}); %>
    <h1> Here are your results, <%= (username) %> -  </h1>


  </body>
  
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  
</html>