<!DOCTYPE html>
<html>
  <head>
    <title>HBCUmatch - Begin Survey </title>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/header'); %>
    <h3> You will now take a brief survey on your secondary-education preferences!</h3>

    <form action = "/survey/started" method= "get">
      <button id="startQuizbtn" type="submit" class="btn btn-primary">Begin Quiz</button>
  </form>

  </body>
  
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</html>